:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --white-color: #FFFFFF;
}

.body {
    color: var(--primary-text-color);
    background-color: #FFFFFF;
font-family: Roboto, sans-serif;
font-size: 16px;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.logo:hover
.logo:focus {
    color: var(--accent-color);
}
.logo {
    text-decoration: none;
}
 span {
    color: #4D5AE5;
    font-weight: 800;
        font-size: 18px;
        line-height: 1.2;
    }

.studio-end {
    color: var(--white-color);
    font-weight: 800;
        font-size: 18px;
        line-height: 1.2;
}
.site-nav-info {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
}
.site-nav-info:hover{
    color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.5;
}
.site-nav-info:focus{
    color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.5;
}
.site-nav-info:active{
    color: var(--accent-color);
}
.hero {
    background-color: #2E2F42;
}
.end {
    background-color: #2E2F42;
}
.end-page {
    color: #E7E9FC;
    font-size: 16px;
        line-height: 1.5;
        text-decoration: none;
}
.button-hero {
    color: var(--white-color);
    background-color: #4D5AE5;
}
.button-hero:active {
color: var(--white-color);
background-color: #404BBF;
}
.section-list {
    color: var(--title-text-color);
    font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
}
.section-title {
    color: var(--title-text-color);
    font-weight: 600;
        font-size: 36px;
        line-height: 1.1;
}
.button-portfolio:hover
.button-portfolio:focus {
    font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: var(--accent-color);
        background-color: #F4F4FD;
}
.button-portfolio:active {
    color:var(--white-color);
    background-color: var(--accent-color);
}
.link {
    text-decoration: none;
    color: var(--title-text-color);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
}
.link:hover{
    color: var(--accent-color);
}
.link:active{
    color: var(--accent-color)

}
.text {
    color: #F4F4FD;
    font-weight: 800;
        font-size: 18px;
        line-height: 1.2;
}
ul {
    list-style: none;
}
.hero-title{
    color: var(--white-color);
    font-weight: 600;
        font-size: 56px;
        line-height: 1.1;
}
li a {
    text-decoration: none;
}